 @media (max-width : 768px) {
     #main {
         display: block !important;
     }

     #main-content,
     #sidebar {
         width: 100% !important;
     }

     #sidebar .profile {
         margin-bottom: 16px;
     }
 }